MONGO_DB    = "TransferSaldo"
SERVER_PORT = "8080"
MONGO_URI   = "mongodb://localhost:27017/?readPreference=primary&appname=MongoDB%20Compass&directConnection=true&ssl=false"
CORS_ORIGIN = "[]string{"*"}"
CORS_HEADER = "[]string{"X-Requested-With", "Content-Type", "Authorization"}"
CORS_METHOD = "[]string{"GET", "POST", "PUT", "HEAD", "OPTIONS"}"